*
{

    font-family: "Andale Mono", monospace;
    background-color: #F2E6CE;
    margin: 10px;

}

h1,
h2,
h3
{

    color: #591218;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;

}

ul,
ol,
p
{

    color: #D94F30;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.recipe-links
{

    font-weight: bold;
    padding-left: auto;
    padding-right: auto;

}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}